<div class="container">
  <div class="py-3 text-center">
    <h3>Cadastro de Carros</h3>
  </div>
  <div class="row">
    <div class="col-12 d-flex align-content-end justify-content-end pb-5">
      <a class="btn btn-primary" [href]="'/addCar'">CADASTRAR CARRO</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of cars">
            <th scope="row">{{car.id}}</th>
            <td>{{car.name}}</td>
            <td>
              <a class="btn btn-outline-primary" [href]="'/addCar?id='+car.id">
                <fa-icon [icon]="faPencil"></fa-icon>
              </a>
              <button type="button" class="btn btn-outline-danger" data-toggle="confirmation" data-placement="right"
                (click)="delete(car.id)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>